.pageContainer {
  min-height: 100vh;
  background-color: var(--color-background-primary);
  display: flex;
  flex-direction: column;
}

.errorContainer {
  flex: 1; /* Ocupa o resto da tela abaixo da nav */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  max-width: 400px;
}

.description {
  font-family: var(--font-family-base);
  font-size: var(--font-size-body-default);
  color: var(--color-text-subtle);
}