.track {
  width: 100%;
  height: 8px;
  background-color: var(
    --color-background-primary
  ); /* Fundo escuro para contraste */
  border-radius: 4px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background-color: var(--color-interactive-accent); /* Roxo */
  border-radius: 4px;
  transition: width 0.3s ease-in-out;
}
